<div class="userWizardIconleft"><img src="img/icons/large/wizard_user48x48.png" alt="{tr}Tiki User Wizard{/tr}" /></div>
{tr}This wizard will help you fill in data and main settings for your account on this website{/tr}.
{tr}Depending on the features enabled by the site admin, you will be offered more or less options{/tr}.
{tr}If you can't set up your user preferences (Real name, keep your information public or private, time settings, ...), you can request the site admin to enable the user preferences feature{/tr}.<br/><br/>

<div class="userWizardContent">
    <fieldset>
        <legend>{tr}User Wizard{/tr}</legend>
        <p class="wizard_page_title">
            {tr}Click at the "Start" button above to launch it{/tr}
        </p>
        <p>
            <b>Tiki version {$tiki_version}</b>. {tr}To learn more about this Tiki release, go to <a href="https://doc.tiki.org/Tiki{$tikiMajorVersion}">Tiki {$tikiMajorVersion}</a>{/tr}.<br/><br/>
        </p>
    </fieldset>
</div>
